.Username-or-Email {
  display: block;
  /* Set the width to 236px */
  width: 236px;
  border-width: 1.34px;
  border-radius: 7px;
  /* Set the border color to light grey */
  border-color: rgb(190, 190, 190);
  border-style: solid;
  /* Set the font size to 15px */
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.sign-in-button {
  /* Set the width to 272px */
  width: 272px;
  border-width: 1.34px;
  border-radius: 7px;
  /* Set the border color to light grey */
  border-color: rgb(190, 190, 190);
  border-style: solid;
  margin-bottom: 10px;
  /* Set the font size to 15px */
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 15px;
  margin-left: 5px;
  /* Set the text color to white */
  color: white;
  /* Make the text bold */
  font-weight: bold;
  /* Remove the border */
  border: none;
  background-color: blue;
  cursor: pointer;
  /* Set the transition for the opacity */
  transition: opacity 150ms;
}

.sign-in-button:hover {
  /* Set the opacity to 80% when hovering */
  opacity: 0.8;
}

.sign-in-button:active {
  /* Set the opacity to 60% when clicked */
  opacity: 0.6;
}

.sign-up {
  color: rgb(0, 0, 255);
}

.Password {
  display: block;
  /* Set the width to 236px */
  width: 236px;
  border-width: 1.34px;
  border-radius: 7px;
  /* Set the border color to light grey */
  border-color: rgb(190, 190, 190);
  border-style: solid;
  /* Set the font size to 15px */
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
}